
@import "defines";

body{
  margin: 0px;
  font-family: 'Roboto';
}

a:link, a:visited, a:active{
  color: $black;
}

#background-img{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0px;
  img{
    width: 100%;
    height: 100%;
    opacity: .9;
  }
}

#main-logo{
  z-index: 2;
  margin-top: 100px;
  position: relative;
  img{
    width: 50%;
    margin-left: 25%;
  }
}

#nav-bar{
  text-align: center;
  background-color: $black;
  color: $grey;
  position: fixed;
  z-index: 3;
  width: 100%;
  top: 0px;
  a{
    color: $grey;
  }
  a:hover{
    color: $blue;
  }
  li{
    text-decoration: none;
    display: inline-block;
    margin: 0 40px;
    font-size: 22px;
  }
}

#quote{
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
  text-align: center;
  color: $light-grey;
  top: 275px;
  width: 100%;
  font-size: 30px;
}

#join{
  // position: absolute;
  z-index: 2;
  text-transform: uppercase;
  background-color: $grey;
  text-align: center;
  width: 25%;
  padding: 20px 0px;
  margin-left: 37%;
  margin-top: 120px;
  @include border-radius(5px);
}

.content-container{
  position: absolute;
  top:250px;
  text-align: center;
  width: 100%;
  z-index: 2;
  padding-bottom: 100px;
  color: $light-grey;
  .content{
    background-color: rgba(89,89,89,.7);
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    padding: 0px 15px 15px 15px;
    hr{
      border-color: $light-grey;
    }
    h2{
      padding-top: 20px;
    }
    .list{
      text-align: left;

    }
    .email-btn{
      background-color: $black;
      color: $blue;
      width: 40%;
      margin-left: 30%;
      padding: 15px;
      text-transform: uppercase;
      border-radius: 5px;
    }
  }
}

#footer{
  position: fixed;
  z-index: 2;
  background-color: $black;
  bottom: 0px;
  width: 100%;
  height: 75px;
  text-align: center;
  color: $blue;
  #icons{
    margin-top: -5px;
    margin-left: -40px;
    img{
      height: 20px;
      margin: 0px 10px;
    }
    li{
      text-decoration: none;
      display: inline-block;
    }
    #fb{
      img{
        filter: grayscale(1);
        &:hover{
          filter: grayscale(0);
          @include filter-transition(.5s);
        }
      }
    }
    #git{
      img{
        filter: contrast(0%);
      }
    }
    #twr{
      img{
        filter: grayscale(1);
        &:hover{
          filter: grayscale(0);
          @include filter-transition(.5s);
        }
      }
    }
  }
}
